*,
::before,
::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --cl1: white;
  --cl2: #052f69;
  --cl3: #ff6f17;
  --clfb: #4267b2;
  --f1: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --f2: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.bannerContainer {
  /* width: 100%; */
  /* height: auto; */
  position: relative;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: var(--cl2);
}

.navLinks {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.navLinks li a {
  font-size: 2.6rem;
  text-decoration: none;
  color: var(--cl1);
  font-family: var(--f1);
  font-weight: 700;
  padding: 1rem;
}

.navLinks li {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navLinks li:hover {
  background-color: var(--cl3);
}

#logoLayout {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  width: 15%;
  height: 33%;
  display: flex;
  background-color: var(--cl1);
  border-radius: 100%;
  justify-content: center;
  padding: 1.5rem;
  /* transform: scale(150%); */
}

#logo {
  width: 70%;
}

.whiteBack {
  color: var(--cl2);
  text-align: justify;
}

h2 {
  font-family: var(--f1);
  font-size: 4rem;
  padding: 3rem 4rem 3rem 4rem;
}

h3 {
  font-family: var(--f1);
  font-size: 3rem;
  padding: 1rem 4rem 2rem 4rem;
}

p {
  font-family: var(--f2);
  font-size: 2.4rem;
  padding: 0 4rem 2rem 4rem;
}

.promo {
  float: right;
  width: 60%;
  padding: 1rem 4rem 2rem 4rem;
}

.blueBack {
  background-color: var(--cl2);
}

.blueBack {
  color: var(--cl1);
  text-align: center;
}

.card > h3 {
  font-family: var(--f1);
  font-size: 3rem;
  padding: 3rem 4rem 1.5rem 4rem;
}

.cardLayout {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
  flex-wrap: wrap;
}

.card {
  width: 50rem;
  border-radius: 2rem;
  transition: all ease 0.6s;
}

.card:hover {
  background-color: var(--cl3);
}

.schoolImage {
  float: left;
  padding-top: 3rem;
}

/*---------- forms ----------*/

#loginForm,
#signupForm {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--cl3);
}

.form {
  background-color: var(--cl2);
  border-radius: 0.6rem;
  max-width: 43rem;
  width: 100%;
  padding: 3rem;
  font-family: var(--f1);

  /* border: pink solid 0.5rem; */
}

.formContent {
  width: 100%;
  color: var(--cl1);
}
.formContent h3 {
  padding: 0 0 2rem;
  text-align: center;
}

.form .field {
  height: 4.5rem;
  width: 100%;
  margin-top: 2rem;
  position: relative;
  border-radius: 0.6rem;
  /* border: purple solid 0.5rem; */
}
.field input,
.field button {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.field input {
  outline: none;
  padding: 0 1.5rem;
  border: var(--cl3) solid 0.1rem;
}
.field input:focus {
  border-bottom-width: 0.2rem;
}

.field button {
  background-color: var(--cl3);
  color: var(--cl1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.field button:hover {
  background-color: var(--cl1);
  color: var(--cl2);
}

.formLink {
  text-align: center;
  margin-top: 1rem;
}
.formLink span,
.formLink a {
  font-size: 1.4rem;
  font-weight: 400;
}

.form a {
  text-decoration: none;
  color: var(--cl3);
}
.formContent a:hover {
  text-decoration: underline;
}

.fa-eye-slash {
  font-size: 1.8rem;
  color: #8b8b8b;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0.5rem;
}

.line {
  position: relative;
  height: 0.1rem;
  width: 100%;
  margin: 3.5rem 0;
  background-color: var(--cl3);
  color: var(--cl1);
}

.line::before {
  content: "Or";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 1.5rem;
  background-color: var(--cl2);
}

.mediaOptions a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--f1);
  font-size: 1.6rem;
  font-weight: 600;
}

a.facebook {
  color: var(--cl1);
  background-color: var(--clfb);
  padding: 2rem;
}

a.google {
  color: var(--cl2);
  background-color: var(--cl1);
  padding: 2rem;
}

a.facebook .fa-facebook-f {
  background-color: #fff;
  color: var(--clfb);
  height: 2.8rem;
  width: 2.8rem;
  font-size: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-facebook-f,
img.googleImg {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
}

img.googleImg {
  height: 2rem;
  width: 2rem;
  object-fit: cover;
  background-color: var(--cl1);
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 50%;
  padding: 0.3rem;
  /* border: 0.1rem solid var(--cl2); */
}

/*

https://www.youtube.com/watch?v=ROqsYIVCJ5Y&t=342s

23:00

*/
